
@font-face {
    font-family: "monserrat-regular";
    src: url("../fonts/Montserrat-Regular.ttf") format('truetype');
}
@font-face {
    font-family: "monserrat-bold";
    src: url("../fonts/Montserrat-Bold.ttf") format('truetype');
}
@font-face {
    font-family: "monserrat-medium";
    src: url("../fonts/Montserrat-Light.ttf") format('truetype');
}
@font-face {
    font-family: "monserrat-semibold";
    src: url("../fonts/Montserrat-SemiBold.ttf") format('truetype');
}
.navbar-brend{
    img{
        width: 50px !important;
    }
}
.nav-link{
    color: #e4e4e4 !important;
    font-size: 18px !important;
    font-family: "monserrat-semibold",serif;
    position: relative;
    &::after{
        content: '';
        height: 2px;
        width: 0;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
        background-color: yellow;
        transition: all 0.5s linear;
    }
    &:hover{
        color:yellow !important;
        
        &::after{
            width: 100%;
        }
        
    }
    &.active{
        color:yellow !important;
        
        &::after{
            width: 100%;
        } 
    }
}
.bir{
    @media (max-width: 572px) {
        display: none;
    }
}
.collapse,
.collapsing {
    
    text-align: center;
}
.navbar-toggler{
    display: none;
    
    @media (max-width: 572px) {
        display: block;
       
    }
}
a{
  &.link{
      margin-left: 30px !important;
  }  
    span{
        margin-left: 20px;
        svg{
            width: 40px !important;
        height: 40px !important;
        color: #FFF;
        
        &:hover{
            color: #f9fd04;
        }
        }
    }
}
.nav-color{
    background-color: #000000;
}